/OpenSecondWindow/.vs/
/OpenSecondWindow/OpenSecondWindow/bin/
/OpenSecondWindow/OpenSecondWindow/obj/

/Load_Driver1/

/PaintTable/.vs/
/PaintTable/PaintTable/bin/
/PaintTable/PaintTable/obj/

/MenuAndToolBar/.vs/
/MenuAndToolBar/MenuAndToolBar/bin/
/MenuAndToolBar/MenuAndToolBar/obj/

/XamlRelateCS/.vs/
/XamlRelateCS/XamlRelateCS/bin/
/XamlRelateCS/XamlRelateCS/obj/

/GetPCICfgSpace/